@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
/*font-family: 'Julius Sans One', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");
/*font-family: 'Antonio', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 2800px;
  padding: 0 80px;
  margin: auto;
}

/* navbar style */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Julius Sans One", sans-serif;
  transition: all 0.3s;
}

.navbar.sticky {
  padding: 15px 0;
  background: #5E4868;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s;
}

.navbar .menu li a:hover {
  color: #5E4868;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu button style*/
.btn-menu {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/*home style*/
.home {
  display: flex;
  background: url("img/bg.png") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Antonio", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 10px;
}

.home .home-content .text1 {
  font-size: 27px;
}

.img-responsive {
  display: none;
}

.home .home-content .text2 {
  font-size: 72px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text3 span {
  color: #5E4868;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #5E4868;
  color: #fff;
  font-size: 20px;
  padding: 6px 12px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

.home .home-content a:hover {
  color: #fff;
  background: none;
  border: 2px solid;
}

/*about style*/
section {
  padding: 100px 0;
}
.about {
  font-family: "Antonio", sans-serif;
}
.about .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Julius Sans One", sans-serif;
}
.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  height: 3px;
  background: #000;
  transform: translateX(-50%);
}
.about .title::after {
  content: "who i am";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #5f2137;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left .imgl {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 1000px;
}
.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: #5f2137;
  color: #fff;
  font-family: "Antonio", sans-serif;
  font-size: 15px;
  padding: 1px 10px;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}
.about .about-content .right a:hover {
  color: #5f2137;
  background: none;
  border: 1px solid #5f2137;
}



/*projects style*/
.projects{
  background: url("img/bg.png") no-repeat center;
}
.projects .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Julius Sans One", sans-serif;
}
.projects .projects-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: "Antonio", sans-serif;
}
.projects .text {
  font-family: "Julius Sans One", sans-serif;
}
.projects .projects-content .card {
  width: calc(33% - 20px);
  color: #fff;
  background: #5f2137;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.projects .projects-content .card .box {
  transition: all 0.3s;
}
.projects .projects-content .card:hover .box {
  transform: scale(1.05);
}
.projects .projects-content .img {
  width: 200px;
  height: 150px;
  text-align: center;
  border-radius: 6px;
}

/*contact style*/
form{
  width: 450px;
  margin: auto;
  background: linear-gradient(180deg, #5E4868 0%, rgba(204, 163, 223, 0) 100%);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

.titleC{
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Julius Sans One", sans-serif;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

.contact #button {
  background: #5E4868;
  color: #fff;
  padding: 20px;
}

.contact #button:hover {
  cursor: pointer;
}

/*responsive*/
@media (max-width: 1090px) {
  .about .about-content .left .imgl {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 947px) {
  .max-width {
    max-width: 800px;
  }
  .about .about-content .colum {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right p {
    flex: 100%;
  }
  .projects .projects-content .card {
    display: flex;
    justify-content: center;
    width: 50%;
    flex: 100%;
    margin: 0 auto 60px;
  }
}

@media (max-width: 768px) {
  .max-width {
    max-width: 800px;
    padding: 0 50px;
  }
  .btn-menu {
    display: block;
    z-index: 999;
  }
  .btn-menu i.active:before {
    content: "\E800";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: #000;
    text-align: center;
    padding-top: 80px;
    transition: 0.3s;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text2 {
    font-size: 70px;
  }

  .home .home-content .text3 {
    font-size: 35px;
  }

  .about .about-content .colum {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
}
@media screen and (max-width: 480px) {
  form {
    width: 90%;
  }
}